<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dataversefunc120220424233102.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2a59e308-22f7-49ec-b994-87cbca799f86/resourcegroups/Default-ApplicationInsights-EastUS/providers/Microsoft.Web/sites/DataverseFunc120220424233102</ResourceId>
    <UserName>$DataverseFunc120220424233102</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dataversefunc120220424233102.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>